@* Views/Account/AccessDenied.cshtml *@
@{
    ViewData["Title"] = "Access Denied";
}

<h1>@ViewData["Title"]</h1>
<p>You do not have permission to access this page. Please log in with an account that has the appropriate permissions.</p>
