
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ProjectFinal.Models.Product

<div class="col-sm-3">
	<div class="product-image-wrapper">
		<div class="single-products">
			<div class="productinfo text-center">
				<img src="@Model.Image" alt="" />
				<h2>$@Model.Price</h2>
				<p>@Model.Name</p>
				<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
			</div>
		</div>
	</div>
</div>
